PRIVACY_POLICY_URL=https://calcrow.com/privacy-policy/
PRIVACY_POLICY_ADS_URL=https://calcrow.com/privacy-policy-ads/
DELETE_ACCOUNT_URL=https://calcrow.com/delete-account/
ADMOB_ANDROID_APP_ID=
ADMOB_IOS_APP_ID=
ADMOB_ANDROID_INTERSTITIAL_ID=
ADMOB_ANDROID_BANNER_ID=
REVENUECAT_TEST_API_KEY=
REVENUECAT_GOOGLE_API_KEY=
